<% provide(:title, "ホーム") %>

<div class="center jumbotron">  <!-- jumbotronはBootStrapによって特別な意味を持つ -->
   <h1>勤怠システムB<２回目></h1>
   <%= link_to "アカウント作成", '#', class: "btn btn-lg btn-primary" %> <!-- ３つのクラスは上記同様にBootStrapによって特別な意味を持つ -->
</div>